* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN LAYOUT */

.main-container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-rows: minmax(100px, 150px) 1fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 3;
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 3;
    border: 1px solid black;
}

.content {
    grid-column: 2;
    grid-template-rows: 1 / 3;
    border: 1px solid black;
}

/* END OF MAIN LAYOUT */

/* HEADER LAYOUT */

.header {
    display: grid;
    grid-template-columns: minmax(400px, 2fr) 1fr;
    grid-template-rows: 2fr 3fr;
}

.search {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding-left: 30px;
    column-gap: 20px;
}

.search-bar {
    width: 100%;
    border-radius: 50px;
    height: 25px;
}

.account {
    display: grid;
    grid-template-columns: repeat(2, 50px) 100px;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.profile-picture-small {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile-picture-large {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.account-name {
    padding-left: 20px;
}

.greetings {
    display: grid;
    grid-template-columns: 70px 250px;
    align-items: center;
    padding-left: 30px;
    column-gap: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    padding: 15px;
}

/* END OF HEADER LAYOUT */

/* CONTENT LAYOUT */

.content {
    display: grid;
    grid-template-columns: 1fr minmax(250px, 300px);
    grid-template-rows: 1fr 1fr;
}

.projects {
    border: 1px solid black;
    grid-row: 1 / 3;
}

.announcements {
    border: 1px solid black;
}

.trending {
    border: 1px solid black;
    grid-column: 2;
}

/* END OF CONTENT LAYOUT */

/* SIDEBAR LAYOUT */

.sidebar {
    display: grid;
    grid-template-rows: 70px 350px 150px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    padding-left: 10px;
    column-gap: 10px;
}

.sidebar-main-items {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding-left: 20px;
    padding-bottom: 40px;
    column-gap: 20px;
    align-items: center;
}

.sidebar-secondary-items {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding-left: 20px;
    column-gap: 20px;
    align-items: center;
}

/* END OF SIDEBAR LAYOUT */
